{% extends 'mailings/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список рассылок</h1>
    <p class="lead">Список рассылок</p>
    <a class="btn btn-primary" href="{% url 'mailings:mailing_create' %}" role="button">Создать рассылку</a>
</div>
{% if mailings %}
<div class="container">
    <div class="row text-center">
        {% for mailing in mailings %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal product-name-area ">{{mailing.start_time}}</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"></h1>
                    <ul class="list-unstyled mt-3 mb-5 text-start m-3">
                        <li class="mb-5"> Окончание рассылки {{mailing.end_time}}</li>
                        <li class="mb-5"> Статус {{mailing.status}}</li>
                        <li class="mb-5"> Активность {{mailing.in_active_status}}</li>
                        <li class="mb-5"> Сообщение {{mailing.message}}</li>
                        <li class="mb-5"> Количество получателей {{mailing.recipients.count}}</li>
                        <li class="mb-5"> Создатель {{mailing.owner}}</li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'mailings:mailing_detail' mailing.pk %}" role="button">Подробнее</a>

                    {% if perms.mailings.disable_mailing %}
                            {% if mailing.in_active_status == 'active' %}
                                <a href="{% url 'mailings:mailing_toggle_status' mailing.pk %}" class="btn btn-warning">Отключить</a>
                            {% elif mailing.in_active_status == 'inactive' %}
                                <a href="{% url 'mailings:mailing_toggle_status' mailing.pk %}" class="btn btn-success">Включить</a>
                            {% endif %}
                        {% else %}
                            <span>Активность</span>
                        {% endif %}


                </div>
            </div>
        </div>
         {% endfor %}
    </div>
</div>
{% else %}
    Пока нет зарегистрированных рассылок.
{% endif %}
{% endblock %}