
{% block content %}


<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal product-name-area ">{{object.email}}</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"></h1>
                    <ul class="list-unstyled mt-3 mb-5 text-start m-3">
                        <li class="mb-5"> ФИО получателя: {{object.full_name}}</li>
                        <li class="mb-5"> Комментарий: {{object.comment}}</li>
                        <li class="mb-5"> Дата добавления получателя: {{object.date_added}}</li>
                    </ul>
                    <a class="btn btn-primary" href="{% url 'mailings:recipient_list' %}" role="button">Назад</a>
                    <a class="btn btn-primary" href="{% url 'mailings:recipient_update' object.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-primary" href="{% url 'mailings:recipient_delete' object.pk %}" role="button">Удалить</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}