{% extends 'mailings/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список получателей</h1>
    <p class="lead">Список получателей</p>
    <a class="btn btn-primary" href="{% url 'mailings:recipient_create' %}" role="button">Создать получателя письма</a>
</div>
{% if recipients %}
<div class="container">
    <div class="row text-center">
        {% for recipient in recipients %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h5 class="my-0 font-weight-normal product-name-area ">{{recipients.email}}</h5>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"></h1>
                    <ul class="list-unstyled mt-3 mb-5 text-start m-3">
                        <li class="mb-5"> {{recipient.full_name}}</li>
                        <li class="mb-5"> {{recipient.comment}}</li>
                        <li class="mb-5"> {{recipient.date_added}}</li>

                    </ul>
                    <a class="btn btn-primary" href="{% url 'mailings:recipient_detail' recipient.pk %}" role="button">Подробнее</a>


                </div>
            </div>
        </div>
         {% endfor %}
    </div>
</div>
{% else %}
    Пока нет зарегистрированных получателей.
{% endif %}
{% endblock %}